alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
#alias ls='ls -alhF --color=auto --group-directories-first'
alias ls="exa -alg --git --group-directories-first"

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

#tools
alias bettercap="sudo bettercap --caplet http-ui"

alias watch="watch -b -c -d -n3"