# look up cheat.sh for linux command examples (man, but more practical)
cheat() {
  curl -m 10 "http://cheat.sh/${*}" 
}

# show wifi access points
wifi(){
    nmcli dev wifi list
}

# get azure public ip ranges
get_azure_ranges(){
    set -e
    INITIALURL="https://www.microsoft.com/en-in/download/confirmation.aspx?id=41653"
    OUT=$(curl -s "${INITIALURL}" | grep -Eo '"https://[^"]*PublicIPs[^"]*"'|head -n 1|cut -d '"' -f 2)
    curl -s -f "${OUT}"
}

# search through my documents uing silversurfer
wiki() {
    ag -i -A 0 -B 0 -W 120 -m 1 -a -f --nonumbers --silent "$1" --color-match "34;49" $HOME/Documents/KB/
}

# outputs the operating system and architecture as a string, useful when downloading platform-specific binaries
# usage: os-arch, os-arch _ ...will insert an underscore between the os and arch
os-arch() {
    ARCHITECTURE=""
    case $(uname -m) in
        i386)   ARCHITECTURE="386" ;;
        i686)   ARCHITECTURE="386" ;;
        x86_64) ARCHITECTURE="amd64" ;;
        arm)    dpkg --print-architecture | grep -q "arm64" && ARCHITECTURE="arm64" || ARCHITECTURE="arm" ;;
    esac
    OS=$(uname | tr '[:upper:]' '[:lower:]')
    echo "${OS}${1}${ARCHITECTURE}"
}
