cheat() {
  # Ask cheat.sh website for details about a Linux command.
  curl -m 10 "http://cheat.sh/${*}" 
}

wifi(){
    nmcli dev wifi list
}

get_azure_ranges(){
    set -e
    INITIALURL="https://www.microsoft.com/en-in/download/confirmation.aspx?id=41653"
    OUT=$(curl -s "${INITIALURL}" | grep -Eo '"https://[^"]*PublicIPs[^"]*"'|head -n 1|cut -d '"' -f 2)
    curl -s -f "${OUT}"
}

wiki() {
    ag -i -A 0 -B 0 -W 120 -m 1 -a -f --nonumbers --silent "$1" --color-match "34;49" $HOME/Documents/KB/
}
